@import './_vars.scss';
@import './_fonts';

//----------Mixin

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//-----------------Global elements

.header {

}

.footer {

}

body {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  z-index: $Z-INDEX_LEVEL_1;
  overflow-x: hidden;
  min-height: 100vh;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}